# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Cube Conundrum
/Cube Conundrum.sln
/Cube Conundrum.vcxproj
/Cube Conundrum.vcxproj.filters
/Cube Conundrum.vcxproj.user
/.vs/Trebuchet
/Trebuchet.sln
/Trebuchet.vcxproj
/Trebuchet.vcxproj.filters
/Trebuchet.vcxproj.user
/data - Copy.txt
/x64/Debug
/Trebuchet
